* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}

.container {
    margin: 0 auto;
    width: 1022px;
    min-height: calc(100vh - 80px);
}
body {
    background-size: cover;
    background-attachment: fixed;
    color: rgb(85, 85, 85);
}

header {
    background-color: rgb(5, 21, 90);
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

.menu {
    padding: 15px; 
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 15px;
}